body{
    margin: 0;
}
div{
    margin: 0;
}
li{
    list-style: none;
}
a{
    color:#000000;
} 

.m-bk {
    position: absolute;
    width: 800px;
    height: 800px;
    background: url("../img/ex05.png") no-repeat;
    background-size: 100%;
    opacity: .0;
    z-index: -2;
}

.m-index{
    margin: auto;
    padding: 34px;
    width: 730px;
    height: 730px;
}

.m-tl{
    margin: 0 0 20px 0;
}

.m-bd{
    margin: 0;
}

.m-tl-left{
    float: left;
    margin: 0 35px 0 45px;
}

.m-tl:after{
    content: '';
    display: block;
    clear: both;
}

.m-tl-left>img{
    width: 312px;
    height: 205px;
}

.m-tl-right>span{
    display: inline-block;
    margin: 7px -2px;
    font-size: 15px;
}

.m-tl-right>span:after {
    content: '';
    width: 34px;
    display: block;
    border-bottom: 3px solid #336699;
    margin-top: 8px;
}

.m-tl-right>p{
    margin: 17px 40px;
    font-size: 12px;
    letter-spacing: -1px;
    line-height: 20px;
}

.m-tl-right>button{
    width: 127px;
    height: 26px;
    margin-top: 2px;
    padding-left: 14px;
    font-size: 12px;
    word-spacing: 25px;
    color: white;
    background-color: #336699;
    border: none;
    border-radius: 4px;
}

.m-top {
    margin-left: 45px;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    width: 643px;
    height: 64px;
}

.m-top>span:first-child {
    margin: 20px 0 20px 2px;
    border-right: 3px solid #336699;
    padding-right: 14px;
    font-size: 20px;
    font-weight: bold;
    color: #336699;
    display: inline-block;
}

.m-top>span+span {
    margin-left: 6px;
}

.m-top>button{
    width: 95px;
    height: 25px;
    margin-left: 385px;
    padding-left: 14px;
    font-size: 12px;
    word-spacing: 3px;
    color: white;
    background-color: #336699;
    border: none;
    border-radius: 4px;
}

.m-mid {
    margin: 24px 46px;
    font-size: 12px;
    font-family: monospace;
}

.m-mid>li {
    border-bottom: 1px solid #ccc;
    padding-bottom: 19px;
    box-sizing: border-box;
}

.m-mid>li+li {
    margin-top: 17px;
}

.m-mid>li>button {
    width: 75px;
    height: 19px;
    color: white;
    font-size: 12px;
    background-color: #11aa55;
    border: none;
    border-radius: 10px;
}

.m-mid>li:first-child>button {
    background-color: #11aaee;
}

.m-mid>li>span {
    letter-spacing: -2px;
    margin-right: 12px;
}

a {
    margin-left: 1px;
}

.m-cont {
    margin-top: -15px;
    margin-left: -30px;
    padding-left: 30px;
    width: 800px;
    height: 270px;
    background-color: #eee;
    box-sizing: border-box;
}

.m-cont:after {
    content: '';
    display: block;
    clear: both;
}

.m-lt {
    float: left;
}

.m-tag {
    display: inline-block;
    margin-top: 10px;
    font-size: 15px;
    color: #336699;
    border-left: 3px solid #336699;
    padding-left: 10px;
}

.m-rt {
    margin-left: 390px;
}

.m-box{
    width: 343px;
    height: 203px;
    border: 1px solid #ccc;
    margin-top: 12px;
    padding: 22px;
    box-sizing: border-box;
    background-color: white;
}

.m-box>span {
    text-align: center;
    display: block;
}

#title {
    font-size: 15px;
    margin-top: -5px;
}

#num {
    font-size: 33px;
    font-weight: bold;
    font-family: monospace;
    color: #336699;
    letter-spacing: -3px;
}

#info {
    margin: 9px 51px;
    height: 45px;
    font-size: 12px;
}

#time {
    border-top: 1px solid #ccc;
    color: #336699;
    font-size: 13px;
    font-weight: bold;
    font-family: monospace;
    padding: 10px 0;
}

.m-box>button {
    width: 276px;
    height: 46px;
    margin-top: 22px;
    margin-left: 10px;
    font-size: 14px;
    word-spacing: 10px;
    letter-spacing: 0px;
    color: white;
    background-color: #336699;
    border-radius: 4px;
}











